<!doctype html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org" th:replace="users/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section >
		<div class="card mr-4 ml-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
				
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form  th:object="${contact}" enctype="multipart/form-data" method="POST" th:action="@{/users/process-contact}" class="mt-2">
								<!-- First name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" required id="firstName" name="name" placeholder="Enter name here" class="form-control">
								</div>
						
								<!-- second name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="secondName" required name="nickName" placeholder="Enter nickname here" class="form-control">
								</div>
								
								<!-- phone field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" id="phone" required min="10" name="phone" placeholder="Enter phone number here" class="form-control">
								</div>
								
								<!-- Email field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											@
										</div>
									</div>
									<input type="email" id="email" required name="email" placeholder="Enter email here" class="form-control">
								</div>
								
								<!-- Work field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" required name="work" placeholder="Enter your work here" class="form-control">
								</div>
								
								<!-- Contact description -->
								<div class="form-group mt-3">
									<!-- Place the first <script> tag in your HTML's <head> -->
									<script src="https://cdn.tiny.cloud/1/aew1x3dvretk1y6gzk4wnpjd56j4dymf53cbv0t2rjifownr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
									<script>
									  tinymce.init({
									    selector: 'textarea',
									    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
									    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
									    tinycomments_mode: 'embedded',
									    tinycomments_author: 'Author name',
									    mergetags_list: [
									      { value: 'First.Name', title: 'First Name' },
									      { value: 'Email', title: 'Email' },
									    ],
									    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
									  });
									</script>
									<textarea name="description"  id="editor" class="form-control" rows="10" placeholder="Enter contact description"></textarea>
									
								</div>
								
								<!-- Contact Image -->
								
								<div class="custom-file">
									<input type="file" name="profileImage" />
								</div>
								
								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
								
								
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>