<!doctype html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org" th:replace="users/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body style="background-color:white">
	<section >
		<div class="card mx-auto" style="width:70%">
			<div class="card-body mx-auto text-center">
			<h1>Welcome <span th:text="${user.name}"></span>!</h1>
			<h3>Start Adding your contacts</h3>
					<div class="my-conatiner">
						<div class="dashboard-left"  style="width:60% ;display:flex; align-items: center;" >
							
							<a type="button" th:href= "@{/users/add-contact}"  class="btn" style="width:100%; background-color:#009688;color:white">Add Contact</a>

						</div>
						<div class="dashboard-right" style="display:flex; justify-content: right" >
							<img th:src="@{/images/girl_pointing.png}" style="height:400px"  alt="" />
						</div>
						
						
					</div>
			</div>
		</div>
		
			<div class="card mx-auto mt-5 mb-5 text-center" style="width:70%">
		
				<div class="card-body">
					<h2>Watch video tutorial here</h2>
				</div>
				<iframe width="100%" height="400px" src="https://www.youtube.com/embed/7IcGYHU8WBo?si=7aaV-dt0hsBfmYi_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				
			</div>
		
		
		
	</section>
</body>
</html>