<!doctype html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Setting Page</title>
</head>
<body>
	<section>
		<div class="container">
			
			<div class="card mx-auto text-center" style="width:40%;margin-top:25%;">
				<h2>Forgot password?</h2>
				<img th:src="@{images/forgot_pass.jpg}" class="mx-auto" style="width:50%;height:50%" alt="" />
				<div class="container"  th:if="${session.message}">
		   			<div class="text-center"  th:classappend="${'alert '+session.message.type }" role="alert"><span th:text="${session.message.content}"></span></div>
		   			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
   				</div>
				<form method="POST" th:action="@{/process-otp}">
				 	<div class="form-group px-3">
				    	<div  th:if="${name == 'generate OTP'}">
				    			<input type="email" class="form-control mt-2" id="InputEmail1" name="forgot_email" aria-describedby="emailHelp" placeholder="Enter email">
				    	</div>
				    	<div  th:if="${name == 'Validate OTP'}">
				    		<input type="number" class="form-control mt-3" id="InputOTP" name="forgot_otp" placeholder="Enter OTP">
				    	</div>
				    	
				    	<button  type="submit" id="otp-btn" name="otp" value="generateOTP" onClick="generateOtp()" class="btn bg-primary text-white mt-3"><span th:text="${name}"></span></button>
				  	</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>